.mainBoard {
  width: 90vw;
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: yellow; */
}
.middleBoard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: blue;
  height: 85vh;
}
.playerNum .totalScore {
  font-size: 3vh;
  background-color: antiquewhite;
}
