.playerContainer {
  width: 20vw;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: blue;
  opacity: 0;
}
.currentBlock {
  background-color: red;
  width: 10vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.active {
  opacity: 1;
}
.hidden {
  opacity: 0.5;
}
